<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .imgBackground {
            background-image: url('https://www.tulsa-health.org/sites/default/files/styles/fhd/public/2020-09/GettyImages-1210596198.jpg?itok=nsT8bL3M');
            background-repeat: no-repeat;
            background-size: 100% auto;
            height: auto;
        }
    </style>
</head>
<body>
{#<div class="container-fluid imgBackground">#}
{#    <div class="row">#}
{#        <div class="col-md-12">#}
{#            <h3 class="text-body">#}
{#                {{ Country }},{{ State }} - {{ index }}.#}
{#            </h3>#}
{#            <div class="row">#}
{#                <div class="col-md-4">#}
{#                    <div class="card text-white bg-warning">#}
{#                        <h5 class="card-header">#}
{#                            Confirmed#}
{#                        </h5>#}
{#                        <div class="card-body">#}
{#                            <p class="card-text">#}
{#                                {{ data_c }}#}
{#                            </p>#}
{#                        </div>#}
{#                        <div class="card-body">#}
{#                            <p class="card-text">#}
{#                                {{ data_c }}#}
{#                            </p>#}
{#                        </div>#}
{#                        <div class="card-body">#}
{#                            <p class="card-text">#}
{#                                {{ data_c }}#}
{#                            </p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-4">#}
{#                    <div class="card text-white bg-success">#}
{#                        <h5 class="card-header">#}
{#                            Recovered#}
{#                        </h5>#}
{#                        <div class="card-body">#}
{#                            <p class="card-text">#}
{#                                {{ data_r }}#}
{#                            </p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-4">#}
{#                    <div class="card text-white bg-danger">#}
{#                        <h5 class="card-header">#}
{#                            Deaths#}
{#                        </h5>#}
{#                        <div class="card-body">#}
{#                            <p class="card-text">#}
{#                                {{ data_d }}#}
{#                            </p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#</div>#}

<div class="card" style="width: 18rem;>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ Country }},{{ State }} - {{ index }}.</li>
        <li class="list-group-item bg-warning">Confirmed {{ data_c }}</li>
        <li class="list-group-item bg-success">Recovered {{ data_r }}</li>
        <li class="list-group-item bg-danger">Deaths {{ data_d }}</li>
    </ul>
</div>
</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.1.0/papaparse.min.js"></script>

</body>
</html>