<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>iframe</title>

</head>
<body>

<div class="card" style="width: auto;">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">{{ Country }},{{ State }} - {{ index }}.</li>
        <li class="list-group-item bg-warning">Confirmed {{ data_c }}</li>
        <li class="list-group-item bg-success">Recovered {{ data_r }}</li>
        <li class="list-group-item bg-danger">Deaths {{ data_d }}</li>
    </ul>
</div>
</div>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.1.0/papaparse.min.js"></script>

</body>
</html>