{% extends 'base.html' %}

{% block head %}
    <title>New Cases</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', {packages: ['corechart', 'line']});
        google.charts.setOnLoadCallback(drawBasic);

        function drawBasic() {

            var data = new google.visualization.DataTable();
            data.addColumn('date', 'Date');
            data.addColumn('number', 'Confirmed');
            data.addColumn('number', 'Recovered');
            data.addColumn('number', 'Deaths');


            new_index = JSON.parse({{ index | tojson }})
            new_data_c = JSON.parse({{ data_c | tojson }})
            new_data_r = JSON.parse({{ data_r | tojson }})
            new_data_d = JSON.parse({{ data_d | tojson }})


            for (var i = 0; i < new_index.length; i++) {
                data.addRow([new Date(new_index[i]), (new_data_c[i]), (new_data_r[i]), (new_data_d[i])])
            }

            var options = {
                hAxis: {
                    title: 'Time Line'
                },
                vAxis: {
                    title: 'No of New Cases - old Cases'
                }
            };

            var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

            chart.draw(data, options);
            $(window).resize(function () {
                drawBasic();
            });
        }
    </script>
{% endblock %}


{% block body %}
    {#    <h1>hello world!</h1>#}
    {#    <div id="chart_div" style="width: 1500px; height: 1000px"></div>#}
    <div class="card">
        <div class="card-header">
            Graph of {{ Country|title }}, {{ State |title }}:
        </div>
        <div class="card-body">
            <div id="chart_div" style="height:auto "></div>
        </div>
    </div>
    <div>
        <a type="button" class="btn btn-outline-primary"
           href="{{ url_for('home_view', Country=Country, State=State) }}">New cases graph</a>
        <br>
        <br>
        <a type="button" class="btn btn-outline-primary" href="{{ url_for('world_wide') }}">Open world wide map</a>
        <a type="button" class="btn btn-outline-primary"
           href="{{ url_for('home_api', Country=Country, State=State) }}">to view API</a>
    </div>

{% endblock %}